import os

basedir =   os.path.abspath(os.path.dirname(__file__))

SQLALCHEMY_DATABASE_URI = 'sqlite:///' + os.path.join(basedir, 'data/<DB_NAME>.db')
SQLALCHEMY_MIGRATE_REPO = os.path.join(basedir, 'data/db_repository')
SQLALCHEMY_TRACK_MODIFICATIONS = True

WTF_CSRF_ENABLED = True
SECRET_KEY = '<********>'

OAUTH_EMAIL_DOMAIN = 'gmail.com'

class Auth:
    CLIENT_ID = '**************.apps.googleusercontent.com'
    CLIENT_SECRET = '<**************>'
    REDIRECT_URI = 'https://<example.com>/gCallback'
    AUTH_URI = 'https://accounts.google.com/o/oauth2/auth'
    TOKEN_URI = 'https://accounts.google.com/o/oauth2/token'
    USER_INFO = 'https://www.googleapis.com/userinfo/v2/me'
    SCOPE = ['profile', 'email']
